.Home {
  position: relative;
  display:flex;
  overflow: hidden;
  height: calc(100vh - 70px);
  width: 100vw;

  .messages-container {
    position: relative;
    width: 100%;
    flex: 1;
  }

  .messages {
    height: calc(100vh - 170px);
    padding:0 10px 10px 10px;

  }

  .message-form-container {
    height: 100px;
  }
}

