@import 'styles/variables';

.Home {
  position: relative;
  display:flex;
  overflow: hidden;
  height: calc(100vh - 70px);
  width: 100vw;

  .messages-container {
    position: relative;
    width: 100%;
  }

  .messages {
    height: calc(100vh - 160px);
    border-bottom: 2px solid;
  }
}

