@import "./variables";
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
input {
  color: $color-1;
}
a {
  color: inherit;
}