@import "styles/variables";

.Register {
  
  max-width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 1px 2px 10px $color-4;
  padding: 10px 20px;
  border-radius: 5px;

  .input_container {
    margin-top: 20px;
    
    label { color: $color-2; }
    input {
      width: 100%;
      padding: 10px;
      outline: none;
      border: 1px solid $color-6;
      border-radius: 5px;
    }
  }

  .btn-container {
    margin: 10px 0;
    text-align: center;
  }


}