@import "styles/variables";

.Login {
  


  .input_container {
    margin-top: 20px;
    
    input {
      width: 100%;
      padding: 10px;
      outline: none;
      border: 1px solid $color-6;
      border-radius: 5px;
    }
  }

  .btn_container {
    margin: 10px 0;
    text-align: center;
  }


}