@import 'styles/variables';

.Contact {
  padding: 10px;
  cursor: pointer;

  .contact-name {
    font-size: 22px;
    margin-left: 10px;
  }

  .unread {
    margin-left: 10px;
    background: $color-3;
    padding: 2px 4px;
    border-radius: 10px;
  }
}