@import 'styles/variables';

.Contact {
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  .contact-name {
    font-size: 22px;
    margin-left: 10px;
  }

  // .unread {
  //   margin-left: 10px;
  //   padding: 2px 4px;
  //   border-radius: 10px;
  // }

  &.unread {
    animation: blink 1s infinite;
  }

  // @keyframes blink {
  //   0% {
  //     background-color: transparent;

  //   }
  //   50% {
  //     background-color: transparent;
  //   }
  //   51% {
  //     background-color: red;
  //   }
  //   100% {
  //     background-color: red;
  //   }
  // }
}