@import 'styles/variables';
.Contact {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;

  &.active {
    background: $color-4;
  }

  .contact_info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contact_detail {
      display: flex;
      align-items: center;

      h4 { margin-left: 10px; }
    
      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid $color-4;
      }
    }

    .contact_status {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      
      &.online { background: $color-7; }

      &.offline { background: $color-5; }
    }

  }

  .unread {
    margin-left: 10px;
    background: $color-3;
    padding: 2px 4px;
    border-radius: 10px;
  }

  .last_message {
    font-size: 14px;
    
    strong {
      margin-right: 5px;
    }
  }
}